
CREATE TRIGGER BKP_USUARIO
ON USUARIO
FOR DELETE
AS
BEGIN
	DECLARE
		@IDUSU INT,
		@NOME VARCHAR(30),
		@LOGIN VARCHAR(30)
	
	SELECT @IDUSU = IDUSUARIO, @NOME = NOMEUSUARIO,@LOGIN = LOGINUSUARIO FROM DELETED

	INSERT INTO BKPUSUARIO (IDUSUARIO, NOMEUSUARIO, LOGINUSUARIO)
	VALUES(@IDUSU, @NOME, @LOGIN)

END